<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%=title%></title>
</head>
<body>
<center>
	<h1 align="center"><%=text%></h1>
	<%var url = "http://127.0.0.1:8888" + path;%>
	<a href=<%=url%>>return</a>
</center>
</body>
</html>