<html>
<body>
	<center>
	<h1>New blog</h1>
	<form action="/users/new" method="POST">
		title:<input type="text" name="title"><br/>
		content:<textarea name="content"></textarea> <br/>
		<input type="submit" value="Add">
	</form>
	<br><br>
	<h5><a href="/lists?page=1">Cancle</a></h5>
	</center>
</body>
</html>